.App {
  text-align: center;
}
.categorie{
  max-height: auto;
  width: 86%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  align-items: center;
  justify-items: center;
  padding: 7%;
}
.app .acceuil2{ 
  background-color: turquoise;
  width: 100%;
  height: auto;
}
.present{
  width: auto;
  height: 750px;
  color: #ffffff;
}
.present img{
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: auto;
  z-index: -5;
  transform: translateY(-10%);
}
.present .top{
  margin-top: 15%;
  width: 40%;
  padding: 30px;
}
.present .top h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.present .top h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.present .buttom{
  width: 80%;
  padding: 40px;
}
.present .buttom h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 50%;
  text-align: justify;
  line-height: 38px;
}
.present p{
  border-radius: 25px;
  width: 40%;
  height: 48px;
  margin-left: 30%;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#ffffffb9;
  text-align: center;
  color: black;
  font-size: 38px;
  margin-top: 8%;
}
.offrlink{
  position: absolute;
  background-color:transparent;
  width: 50%;
  margin-left: 50%;
  margin-top: -25%;
}
.serchcard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100px;
  width: 310px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.9);
}
.serchcard .Item{
  height: 100px;
  margin-left: 14%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.serchcard .Item .imgf{
  height: 100px;
}
.serchcard .Item .play{
  background-color: transparent;
  height: 50px;
}
.serchcard .Item .top{
  width:150px;
  height: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65%;
  background-color:#ffffffb9;
  text-align: center;
  color: black;
}
.inputt {
  position: fixed;
}
.inputt  input{
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 300px;
    color: #000000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    border-style: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.App .inputt{
  z-index:  2; 
  margin-left: 40%;
  margin-top: 2.15%;
}
.listit{
  max-height: auto;
  height: 312px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  align-items: center;
  justify-items: center;
  padding: 7%;
}
.App .listit .element{
  height: 312px;
}
.App .listit .element .cardItem{
  height: 312px;
}
.App .listit .element .cardItem .Item{
  height: 312px;
}
.App .listit .element .cardItem .Item .top {
  height: 120px;
  width:225px ;
}
.App .listit .element .cardItem .Item .imgf{
  height: 312px;
  width:225px ;
}
.App .listit .element .cardItem .Item .play{
height: 50px;
width: 50px;
margin-top: 158.5px;
margin-left: 89.5px;
}
.App .listit .element .cardItem .Item .parg{
  height: 0px;
}
.App .listit .element .cardItem .Item .buttom{
  height: 50px;
  width:225px ;
  margin-top: 250px;
}
.App .listit .element .cardItem .Item .top  h1{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.App .listit .element .cardItem .Item .top  h2{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 13px;
}
.App .page .moviesPage .prentItems .Item {
  height: 0px;

  }
.App .page .component .moviesPage .prentItems .present .Item .parg{
  background-color: transparent;
  height: 100px;
  width: 30%;
  margin-top: 500px;
  margin-left: 5%;
  position: absolute;
}
.App .page .moviesPage .prentItems {
  height: 600px;
  background-color: rgba(0, 0, 0, 0.3);
}
.App .page .addfilm{
  width: 100%;
  height: 100%;
}
.App .page .component .moviesPage body{
  position: absolute;
}
.App .page .component .addfilm{
  width: 100%;
  height: 100%;
}
.App .page .component .addfilm form{
  width: 40%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 6%;
  margin-bottom: 10%;
  margin-left: -10%;
}
.App .page .component .addfilm form .plot{
width: 300px;
}
.App .page .component .addfilm form .addbuttonfb{
  padding: 40px;
}
.App .page .component .addfilm input{
  width: 160px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  color: #000000;
}
.App .page .component .addfilm .inputimg{
 width: 300px;
}
/*.App .page .component .addfilm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}*/
.App .AppdateModal{
  z-index: 20;
}
.App .forms {
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  height: 50px;
}
.App .favcardlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.App .page .component .favcardlist{
  padding:75px;
  margin-top: 5%;
  margin-left: 2.5%;
}
.App .page .component .favcardlist .admindashbord {
  width: 200px;
  padding: 20px;

}

.App .page .component{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: rgba(0, 0, 0, 0.1);
}
.App .admincardlist{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.App .page .component .admincardlist{
  padding:75px;
  margin-top: -5%;
}
.App .page .component .admincardlist .admindashbord {
  width: 200px;
  padding: 20px;

}
.App .page .component .admincardlist .admindashbord .modal {
  position: fixed;
  width: 100%;
}
.App .page .component .admincardlist .admindashbord .modal-main{
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  width: 320px;
  height: 100%;
  position: absolute;
  margin-left: -34%;
  background-color: rgba(0, 0, 0, 0.4);
}
.App .page .component .admincardlist .admindashbord .modal-main .forms{
  display: grid;
  grid-template-columns: 1fr ;
  width: 300px;
  margin-top: -50%;
}
.App .page .component .admincardlist .admindashbord .modal-main .forms input{
  height: 30px;
  border-radius: 12px;
background-color: rgba(255, 255, 255, 0.9);
}
.App .admindashbord .cardItem .buttom{
  z-index: -1;
}
.App .admindashbord  .adminbutton{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: -30%;
  margin-bottom: 100px;
  z-index: 15;

}
.App .admindashbord  .adminbutton button{
  width: 80px;
  height: 35px;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  color: #ffffff;
}
.App .admindashbord  .adminbutton button:hover{
  cursor: pointer;
}
.App .admindashbord .cardItem {
  height: 300px;
}
.App .admindashbord .cardItem .buttom{
  width: 200px;
  margin-top: 20%;
}
.App .admindashbord .cardItem .top {
  width: 200px;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width :290px;/* 0 width - change this with JavaScript */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 04px 4px 4px 9px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}